<html>
<head>
  <title>Signup</title>
</head>

<body>
  <div>
    <h1>Welcome ,Admin</h1>
    <%for(count=0;count<data.length;count++)
    {
      %><p><%=data[count].rollno%></p><%
    }
    %>
  </div>
</body>
</html>
