<html>
<head>
  <title>Signup</title>
</head>

<body>

  <div id="form-stu">
    <form method="post" action='/admin-signup'>

      <input type="text" name="rollString" placeholder="Text Roll" required />
      <input type="text" name="startno" placeholder="Start Number" required />
      <input type="text" name="endno" placeholder="End Number" required />
      <input type="text" name="department" placeholder="Department" required />
      <button value="submit">Signup</button>
    </form>
  </div>
</body>
</html>
